@import "~assets/variables";

:host p-panel {
    height: calc(100% - 10px);
    display: block;
    margin: 10px;
}

:host input {
    width: 100%; padding-left: 5px;
}

:host p-dropdown {
    width: 100%;
}

/** Odd row color **/
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
    background-color: #ffffff;
    color: #000000;
}

/** Even row color **/
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-even {
    background-color: #ffffff;
    color: #000000;
}

::ng-deep .hide-context-menu {
    display: none;
}