<!-- Wallet Setup Step 6 - Finish -->
<div class="ui-g-12">
    <h3 style="text-align: center;">Wallet Creation</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            Create wallet on filesystem:
        </div>
        <div class="ui-g-1"><i class="icon icon-color-csc icon-chip" aria-hidden="true" *ngIf="walletCreated"></i></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            Create account:
        </div>
        <div class="ui-g-1"><i class="icon icon-color-csc icon-chip" aria-hidden="true" *ngIf="accountCreated"></i></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            Encrypt wallet information with password:
        </div>
        <div class="ui-g-1"><i class="icon icon-color-csc icon-chip" aria-hidden="true" *ngIf="keysEncrypted"></i></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            Connect to the network:
        </div>
        <div class="ui-g-1"><i class="icon icon-color-csc icon-chip" aria-hidden="true" *ngIf="connectedToNetwork"></i></div>
    </div>
</div>