<!-- Wallet Setup Step 2 - Disclaimer -->
<div class="ui-g-12">
    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <h3 style="text-align: center;">Accept the Disclaimer</h3>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            Before the wallet setup can continue, you must accept the following disclaimer:
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <textarea style="resize: none;" [rows]="5" [cols]="60" pInputTextarea [(ngModel)]="disclaimerText" readonly></textarea>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <small style="font-weight: bolder;">
            <p-checkbox [(ngModel)]="disclaimerAccepted" binary="false" (onChange)="onDisclaimerAcceptChanged($event)" 
                        label="I have read, understand and accept the disclaimer."></p-checkbox>
            </small>
        </div>
        <div class="ui-g-1"></div>
    </div>
</div>