<!-- Wallet Setup Step 3 - Password -->
<div class="ui-g-12">
    <h3 style="text-align: center;">Set Password</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            Please enter a wallet password. This is an obligatory step! Without a password your wallet can not be created. Keep your password in a safe place, 
            whitout it your wallet can not be opened or used anymore!
            <p>Your password needs to contain letters and numbers and be a minimum of 8 characters long.</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <input type="password" pPassword [(ngModel)]="newWalletPassword" (ngModelChange)="checkPasswordUpdate($event)" 
                   style="width: 100%;" title="Password must be minmal 8 characters long including letter and numeric characters" 
                   required [(pattern)]="passwordPattern" placeholder="Wallet Password"/>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <input type="password" pPassword [(ngModel)]="newWalletPasswordConfirmed" (ngModelChange)="checkPasswordConfirmedUpdate($event)" 
                   style="width: 100%;" required [(pattern)]="passwordPattern" placeholder="Paswword Confirmation"
                   [disabled]="!paswordConfirmationEnabled" #passwordInputConfirmed/>
        </div>
        <div class="ui-g-1"></div>
    </div>
</div>