<p-dialog [visible]="dialog_visible" [width]="600" [height]="400" [(closable)]="dialog_closeable" [modal]="true" (onHide)="onHideSetup()">
    <p-header>
        <i class="icon csc-dialog-icon icon-chip"></i>
        CasinoCoin Wallet Setup
    </p-header>
    <div class="ui-g" style="max-height: 275px; min-height: 275px;">
        <!-- [@slideInOut]="step1State" -->
        <setup-step1 [hidden]="activeIndex != 1" name="step1"
                     (walletNetworkChange)="onNetworkUpdated($event)" [(walletTestNetwork)]="walletTestNetwork"></setup-step1>
        <setup-step2 [hidden]="activeIndex != 2" name="step2"
                     (disclaimerAcceptedChange)="onDisclaimerAcceptedUpdated($event)" [(disclaimerAccepted)]="disclaimerAccepted"></setup-step2>
        <setup-step3 [hidden]="activeIndex != 3" name="step3"
                     (passwordChange)="onPasswordUpdated($event)" [(newWalletPassword)]="walletPassword"></setup-step3>
        <setup-step4 [hidden]="activeIndex != 4" [(newWalletMnemonic)]="recoveryMnemonicWords" name="step4"
                     (recoveryAcceptChanged)="onRecoveryAcceptChanged($event)" [(recoveryAccepted)]="recoveryAccepted"></setup-step4>
        <setup-step5 [hidden]="activeIndex != 5" name="step5"
                     (locationChange)="onLocationUpdated($event)" (backupLocationChange)="onBackupLocationUpdated($event)" [(newWalletLocation)]="walletLocation" [(newBackupLocation)]="backupLocation"></setup-step5>
        <setup-step6 [hidden]="activeIndex != 6" name="step6"
                     [(walletCreated)]="walletCreated"
                     [(accountCreated)]="accountCreated"
                     [(keysEncrypted)]="keysEncrypted"
                     [(keyBackupCompleted)]="keyBackupCompleted"></setup-step6>
    </div>
    <div style="text-align: right;">
        <!-- Cancel Setup -->
        <button pButton type="button" (click)="cancelSetup()" icon="fa-ban" iconPos="right" label="Cancel" 
            *ngIf="enableCancelCreation && (activeIndex <= 5 || ((activeIndex == 6) && (!(walletCreated && accountCreated && keysEncrypted && keyBackupCompleted))))"
            style="width: 115px;" #cancelButton></button>

        <!-- Previous Step -->
        <button pButton type="button" (click)="navigateToPreviousStep()" icon="fa-arrow-left" iconPos="left" label="Previous" 
                *ngIf="activeIndex > 1 && activeIndex < 6" style="width: 115px;" #previousButton></button>

        <!-- Next Step -->
        <button pButton type="button" (click)="navigateToNextStep()" icon="fa-arrow-right" iconPos="right" label="Next" 
                *ngIf="activeIndex < maxActiveIndex" 
                [disabled]="((activeIndex == 2) && (!enableFinishDisclaimer)) || ((activeIndex == 3) && (!enableFinishPassword)) || ((activeIndex == 4) && (!recoveryAccepted))" 
                style="width: 115px;" #nextButton></button>

        <!-- Finish Setup -->
        <button pButton type="button" (click)="finishSetup()" icon="fa-check" label="Finish" iconPos="right"
                *ngIf="activeIndex == maxActiveIndex" style="width: 115px;"
                [disabled]="((activeIndex == 6) && (!(walletCreated && accountCreated && keysEncrypted && keyBackupCompleted)))" #finishButton></button>
    </div>
    <p-footer style="text-align: center">
        <p-steps [model]="steps" styleClass="steps-custom" [activeIndex]="activeIndex-1"></p-steps>
    </p-footer>
</p-dialog>
