@import "src/assets/variables";

.icon-color-csc {
    color: $casinocoinRed;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
    min-height: 360px;
    max-height: 350px;
}

.ui-steps .ui-steps-item {
    width: 16.5%;
}

.ui-steps .ui-steps-number {
    font-size: 150%;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}
 
.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: $casinocoinRed;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    margin-top: -12px;
    margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}

.ui-state-highlight {
    border-color: $casinocoinRedDarker;
    background: $casinocoinRed;
    color: #FFFFFF;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    border: $casinocoinRed;
    background: $casinocoinRed;
}

.ui-widget-header .ui-button:enabled:active, .ui-widget-content .ui-button:enabled:active, .ui-widget.ui-button:enabled:active, .ui-button:enabled:active {
    border: $casinocoinRedLighter;
    background: $casinocoinRedDarker;
}

.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, 
.ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
    border: $casinocoinRedLighter;
    background: $casinocoinRedDarker;
}

.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
    border: $casinocoinRedDarker;
    background: $casinocoinRed;
}

.ui-chkbox-box.ui-state-focus, .ui-radiobutton-box.ui-state-focus {
    box-shadow: 0px 0px 5px $casinocoinRedLighter;
}

.ui-chkbox-box.ui-state-focus.ui-state-active {
    background: $casinocoinRed;
}
