<div class="ui-widget ui-g panel-group-height">
    <div class="ui-g-4">
        <p-panel header="Wallet" [style]="{'height':'100%'}">
            <mat-list>
                <mat-list-item class="item-header">Balance</mat-list-item>
                <mat-list-item class="item-value">{{balance | cscAmount}} CSC</mat-list-item>
                <mat-list-item class="item-header">Estimated Fiat Value</mat-list-item>
                <mat-list-item class="item-value">{{fiat_balance}}</mat-list-item>
                <mat-list-item class="item-header">Transactions</mat-list-item>
                <mat-list-item class="item-value">{{transaction_count}}</mat-list-item>
                <mat-list-item class="item-header">Last Transaction</mat-list-item>
                <mat-list-item class="item-value">{{last_transaction | cscDate : 'yyyy-MM-dd HH:mm:ss'}}</mat-list-item>
                <mat-list-item class="item-value"></mat-list-item>
            </mat-list>
        </p-panel>
    </div>
    <div class="ui-g-4">
        <p-panel header="Network" [style]="{'height':'100%'}">
            <div class="ui-g">
                <div class="ui-g-8">Server Version</div><div class="ui-g-4 bold-value">{{serverState.build_version}}</div>
                <div class="ui-g-8">Available Ledgers</div><div class="ui-g-4 bold-value">{{serverState.complete_ledgers}}</div>
                <div class="ui-g-8">Server Latency (ms)</div><div class="ui-g-4 bold-value">{{serverState.io_latency_ms}}</div>
                <div class="ui-g-8">Connected Peers</div><div class="ui-g-4 bold-value">{{serverState.peers}}</div>
                <div class="ui-g-8">Last Closing Time</div><div class="ui-g-4 bold-value">{{serverState.validated_ledger.close_time | cscDate: 'HH:mm:ss'}}</div>
                <div class="ui-g-8">Close Duration (ms)</div><div class="ui-g-4 bold-value">{{serverState.last_close.converge_time}}</div>
                <div class="ui-g-8">Last Close Proposers</div><div class="ui-g-4 bold-value">{{serverState.last_close.proposers}}</div>
                <div class="ui-g-8">Current Fee</div><div class="ui-g-4 bold-value">{{serverState.validated_ledger.base_fee | cscAmount}}</div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-4">
        <p-panel header="Ledgers" [style]="{'height':'100%'}">
            <p-dataTable [value]="ledgers" [immutable]="false" scrollable="true" scrollHeight="210px">
                <p-column field="ledger_index" header="Ledger" [style]="{'width':'75px'}"></p-column>
                <p-column field="ledger_time" header="Time" [style]="{'width':'125px'}">
                    <ng-template let-col let-ledger="rowData" pTemplate="body">
                        <span>{{convertCscTimestamp(ledger[col.field]) | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                    </ng-template>
                </p-column>
                <p-column field="txn_count" header="TX" [style]="{'width':'30px'}"></p-column>
            </p-dataTable>
        </p-panel>
    </div>
</div>
<p-panel header="Transactions" [style]="{'height':'275px', 'position': 'fixed', 'bottom':'0'}">
    <p-dataTable [value]="transactions" expandableRows="true" scrollable="true" scrollHeight="200px"
                 [immutable]="false">
        <p-column [style]="{'width':'7px', 'padding': '0px'}">
            <ng-template let-data="rowData" pTemplate="body">
                    <span #amountCol>{{ getTXCellColor(amountCol,data) }}</span>
            </ng-template>
        </p-column>
        <p-column expander="true" styleClass="col-icon" [style]="{'width':'25px'}"></p-column>
        <p-column field="timestamp" header="Time" [style]="{'width':'125px'}">
            <ng-template let-col let-case="rowData" pTemplate="body">
                <span>{{case[col.field] | cscDate : 'yyyy-MM-dd HH:mm:ss'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Account" [style]="{'width':'200px'}">
            <ng-template let-data="rowData" pTemplate="body">
                <span>{{ getTXAccount(data) }}</span>
            </ng-template>
        </p-column>
        <p-column field="amount" header="Amount" [style]="{'width':'75px'}">
            <ng-template let-data="rowData" pTemplate="body">
                    <span #amountColText>{{ getTXTextColor(amountColText,data) }}{{data.amount | cscAmount}}</span>
            </ng-template>
        </p-column>
        <p-column field="inLedger" header="Ledger" [style]="{'width':'75px'}"></p-column>
        <p-column field="validated" header="Confirmed" [style]="{'width':'75px'}">
            <ng-template let-data="rowData" pTemplate="body">
                <i [ngClass]="getValidatedIconClasses(data.validated)"></i>
            </ng-template>
        </p-column>
        <ng-template let-data pTemplate="rowexpansion">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="padding:20px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Transaction ID: </div>
                                <div class="ui-grid-col-10 item-value">{{data.txID}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Sender: </div>
                                <div class="ui-grid-col-10 item-value">{{data.accountID}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Receiver: </div>
                                <div class="ui-grid-col-10 item-value">{{data.destination}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Amount: </div>
                                <div class="ui-grid-col-10 item-value">{{data.amount | cscAmount}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Description: </div>
                                <div class="ui-grid-col-10 item-value">{{getDescription(data)}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Ledger: </div>
                                <div class="ui-grid-col-10 item-value">{{data.inLedger}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label item-label">Transaction Type: </div>
                                <div class="ui-grid-col-10 item-value">{{data.transactionType}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataTable>
</p-panel>