@import "~assets/variables";

::ng-deep .ui-widget-header {
    color: $casinocoinRed;
    font-weight: bolder;
}

::ng-deep .item-value {
    font-weight: bolder;
    font-size: smaller;
    height: 25px;
}

::ng-deep .item-header {
    height: 25px;
}

::ng-deep .bold-value {
    font-weight: bolder;
}

.tx_type_color_red {
    background-color: $casinocoinRed;
}

.tx_type_color_green {
    background-color: $casinocoinGreen;
}

.panel-group-height {
    height: calc(100% - 265px);
}