@import "src/assets/variables";

:host input {
    width: 500px; padding-left: 5px;
}

:host p-dropdown {
    width: 500px; padding-left: 0px;
}

::ng-deep .footer-error {
    color: $casinocoinRed;
    font-weight: bolder;
}

::ng-deep .confirm-text {
    // font-weight: bolder;
    color: $casinocoinRed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}