<div class="ui-g form-container">
    <p class="form-text-header">Send Coins</p>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="fa fa-credit-card"></i></span>
            <p-dropdown [style]="{'width':'100%'}" [options]="accounts" [(ngModel)]="selectedAccount" 
                        placeholder="Select Account to send from ..." autofocus #accountDropdown></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="fa fa-address-book"></i></span>
            <input type="text" pInputText placeholder="Receipient" [(ngModel)]="receipient" (keyup.enter)="focusDescription()"
                     [disabled]="!selectedAccount" (ngModelChange)="onReceipientChange($event)">
            <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="fa fa-comments"></i></span>
            <input type="text" pInputText placeholder="Description" [(ngModel)]="description" (keyup.enter)="focusAmount()"
                    [disabled]="!selectedAccount || invalidReceipient" #descriptionInput>         
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Amount</span>
            <input type="number" pInputText placeholder="Amount" [(ngModel)]="amount" (keyup.enter)="focusFees()"
                    [disabled]="!selectedAccount || invalidReceipient" (ngModelChange)="onAmountChange($event)" #amountInput>
            <button pButton type="button" class="ui-button-secondary" (click)="sendAllCoins()" label="all" 
                    [disabled]="!selectedAccount || invalidReceipient"></button>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Fees</span>
            <input type="number" pInputText placeholder="Fees" [(ngModel)]="fees" (keyup.enter)="doSendCoins()"
                    min="{{minimalFee}}" step="{{minimalFee}}" [disabled]="!selectedAccount || invalidReceipient"
                    (ngModelChange)="onFeesChange($event)" #feesInput>         
        </div>
    </div>
    <!--
    <div class="ui-g-12">
        <div class="ui-inputgroup" [matTooltip]="reserve_tooltip">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Reserve</span>
            <input type="number" pInputText [(ngModel)]="accountReserve" #reserveInput disabled>         
        </div>
    </div>
    -->
    <div class="ui-g-12">
        <div class="ui-inputgroup" [matTooltip]="total_tooltip">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Total</span>
            <input type="number" pInputText [(ngModel)]="totalSend" #totalSendInput disabled>         
        </div>
    </div>
    <!-- We need to have the option to include the reserve as well in the future !!!
    <div class="ui-g-12" [matTooltip]="reserve_tooltip">
        <p-checkbox [(ngModel)]="includeReserve" binary="true" label="Include account reserve?"
                     (ngModelChange)="onReserveChange($event)" [disabled]="!selectedAccount"></p-checkbox>
    </div>
    -->
    <div class="ui-g-6">
        <button pButton type="button" (click)="doSendCoins()" icon="fa-sign-out" iconPos="left" label="Send Coins"
                class="ui-button-secondary" [disabled]="!isSendValid"></button>
    </div>
</div>
<p-dialog [(visible)]="showPasswordDialog" [width]="450" [height]="250" [closable]="true" 
    [modal]="true" appendTo="body">
    <p-header>
        Casinocoin Wallet Password
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <p>Please enter your wallet password to sign your transaction.</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="fa fa-key"></i></span>
                <input type="password" pInputText placeholder="Wallet Password" style="width: 100%; padding-left: 5px;"
                       [(ngModel)]="walletPassword" (keyup.enter)="doSignAndSubmitTx()" #passwordInput>         
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-5">
        </div>
        <div class="ui-g-5">
            <span>
                <button pButton type="button" (click)="doSignAndSubmitTx()" [(icon)]="signAndSubmitIcon" iconPos="right" 
                        label="Sign And Submit" style="width: 175px;"></button>
            </span>
        </div>
        <div class="ui-g-1"></div>
    </div>
</p-dialog>