@import "~assets/variables";

:host input {
    width: 450px; padding-left: 5px;
}

:host p-dropdown {
    width: 450px; padding-left: 0px;
}

:host p-footer {
    text-align: center;
    color: $casinocoinRed;
}