<div class="ui-g form-container">
    <p class="form-text-header">Send Coins</p>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-id"></i></span>
            <p-dropdown [style]="{'width':'100%'}" [options]="accounts" [(ngModel)]="selectedAccount"  [disabled]="!isConnected"
                        [matTooltip]="connected_tooltip" placeholder="Select Account to send from ..." 
                        autofocus #accountDropdown></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-book"></i></span>
            <input type="text" pInputText placeholder="Recipient" [(ngModel)]="recipient" (keyup.enter)="focusDescription()"
                   [disabled]="!selectedAccount" (ngModelChange)="onRecipientChange($event)">
            <button pButton type="button" icon="icon icon-search" (click)="startAddressSearch()"
                    [disabled]="!selectedAccount || addresses.length == 0" ></button>


        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-text"></i></span>
            <input type="text" pInputText placeholder="Description" [(ngModel)]="description" (keyup.enter)="focusAmount()"
                    [disabled]="!selectedAccount || invalidReceipient" #descriptionInput>         
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-tag"></i></span>
            <input type="number" placeholder="Destination Tag" [(ngModel)]="destinationTag" (keyup.enter)="focusAmount()"
                    [disabled]="!selectedAccount || invalidReceipient" min="1" step="1" (ngModelChange)="onDestinationTagChange($event)"
                    #destinationTagInput>         
        </div>
    </div>
    <!-- DISABLED InvoiceID for now, need to add checks to validate its contents
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">ID</span>
            <input type="text" pInputText placeholder="Invoice ID" [(ngModel)]="invoiceID" (keyup.enter)="focusAmount()"
                    [disabled]="!selectedAccount || invalidReceipient" #invoiceIDInput>         
        </div>
    </div>
    -->
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Amount</span>
            <input type="text" pInputText placeholder="Amount" [(ngModel)]="amount" (keyup.enter)="focusFees()"
                    [disabled]="!selectedAccount || invalidReceipient" (ngModelChange)="onAmountChange($event)" 
                    autocomplete="off" #amountInput>
            <button pButton type="button" (click)="sendAllCoins()" label="all" [disabled]="!selectedAccount || invalidReceipient"></button>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Fees</span>
            <input type="number" pInputText placeholder="Fees" [(ngModel)]="fees" (keyup.enter)="doSendCoins()"
                    min="{{minimalFee}}" step="{{minimalFee}}" [disabled]="!selectedAccount || invalidReceipient"
                    (ngModelChange)="onFeesChange($event)" #feesInput>         
        </div>
    </div>
    <!--
    <div class="ui-g-12">
        <div class="ui-inputgroup" [matTooltip]="reserve_tooltip">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Reserve</span>
            <input type="number" pInputText [(ngModel)]="accountReserve" #reserveInput disabled>         
        </div>
    </div>
    -->
    <div class="ui-g-12">
        <div class="ui-inputgroup" [matTooltip]="total_tooltip">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;">Total</span>
            <input type="text" pInputText [ngModel]="totalSendFormatted" #totalSendInput disabled>         
        </div>
    </div>
    <!-- We need to have the option to include the reserve as well in the future !!!
    <div class="ui-g-12" [matTooltip]="reserve_tooltip">
        <p-checkbox [(ngModel)]="includeReserve" binary="true" label="Include account reserve?"
                     (ngModelChange)="onReserveChange($event)" [disabled]="!selectedAccount"></p-checkbox>
    </div>
    -->
    <div class="ui-g-6">
        <button pButton type="button" (click)="doSendCoins()" icon="icon icon-arrow-right" iconPos="left" label="Send Coins"
                [disabled]="!isSendValid || !isConnected"></button>
    </div>
</div>
<p-dialog [(visible)]="showPasswordDialog" [width]="480" [height]="325" [closable]="true" 
    [modal]="true" appendTo="body">
    <p-header>
        <i class="icon csc-dialog-icon icon-chip"></i>
        Send CasinoCoins
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <p>You are about to send <span class="confirm-text">{{amount | toNumber | number:'1.2-8'}}</span> 
                coins to account <span class="confirm-text">{{recipient}}</span> and are paying <span class="confirm-text">{{fees}}</span>  
                in fees for the transaction.</p>
            <p>Please enter your wallet password to confirm and sign your transaction.</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-key"></i></span>
                <input type="password" pInputText placeholder="Wallet Password" style="width: 100%; padding-left: 5px;"
                       [(ngModel)]="walletPassword" (keyup.enter)="doSignAndSubmitTx()" #passwordInput>         
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-5">
            <button pButton type="button" (click)="cancelSend()" icon="fa-ban" iconPos="right" label="Cancel" 
                style="width: 165px;"></button>
        </div>
        <div class="ui-g-5">
            <button pButton type="button" (click)="doSignAndSubmitTx()" [(icon)]="signAndSubmitIcon" iconPos="right" 
                        label="Sign And Submit" style="width: 165px;"></button>
        <div class="ui-g-1"></div>
        </div>
    </div>
    <p-footer *ngIf="footer_visible" class="footer-error">
        Error: {{error_message}}
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="showAddressSearchDialog" [width]="480" [height]="220" [closable]="true"
          [modal]="true" appendTo="body">
    <p-header>
        <i class="icon csc-dialog-icon icon-chip"></i>
        Address book
    </p-header>

    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-book"></i></span>

                <p-dropdown
                        [style]="{'min-width':'300px', 'max-width': '300px'}"
                        [options]="addresses"
                        [(ngModel)]="selectedAddress"
                        [disabled]="!isConnected"
                        [matTooltip]="connected_tooltip"
                        placeholder="Select Address ..."
                        #addressDropdown></p-dropdown>
            </div>
        </div>
        <div class="ui-g-1"  style="height: 70px"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10" style="text-align: right;">
            <button pButton type="button" (click)="cancelAddressSearch()" icon="fa-ban" iconPos="right" label="Cancel"
                    style="width: 125px;"></button>
            <button pButton type="button" (click)="useAddressForSend()" icon="fa-check" iconPos="right"
                    label="OK" style="width: 125px;"></button>
            <div class="ui-g-1"></div>
        </div>
    </div>
    <p-footer *ngIf="footer_visible" class="footer-error">
        Error: {{error_message}}
    </p-footer>
</p-dialog>