<div class="ui-widget ui-g form-container">
    <p class="form-text-header">Support</p>
    <h3>If you have a problem or need help with the wallet there are several ways of contacting the CasinoCoin team:</h3>
    <mat-list>
        <mat-list-item>Check if you can find your answer at the CasinoCoin <a href="#" (click)="openFAQ()">FAQ</a>.</mat-list-item>
        <mat-list-item>Join our Discord chat channel via the <a href="#" (click)="openDiscord()">channel invite</a>.</mat-list-item>
        <mat-list-item>Contact us via social media. You can find all links at the bottom of the <a href="#" (click)="openWebsite()">CasinoCoin Website</a>.</mat-list-item>
        <mat-list-item>If you encouter a problem, error or bug with the wallet software you can file an <a href="#" (click)="openGithub()">issue at the GitHub</a> project website.</mat-list-item>
        <mat-list-item>You can fill out the <a href="#" (click)="openContactForm()">contact form</a>  at the foundation website.</mat-list-item>
        <mat-list-item>Send an email to the <a href="#" (click)="openEmail()">support@casinocoin.org</a>  email address.</mat-list-item>
    </mat-list>
</div>