<div class="ui-widget ui-g form-container">
    <p class="form-text-header">Receive Coins</p>
    <div class="ui-g-12">
        <button pButton type="button" (click)="showCreateAccount()" icon="fa-file-text-o" iconPos="left" label="Create New Account"
                class="ui-button-secondary"></button>
    </div>
    <div class="ui-g-12">
        <p-contextMenu #cm class="hide-context-menu"></p-contextMenu>
        <p-dataTable [value]="accounts" [immutable]="false" scrollable="true" scrollHeight="70vh"
                        [contextMenu]="cm" [(selection)]="selectedReceiveRow" editable="true" (onEditComplete)="onLabelEditComplete($event)"
                        (onEditCancel)="onLabelEditCancel($event)" (onContextMenuSelect)="showReceiveContextMenu($event)">
            <p-column field="accountID" header="Account" [style]="{'width':'200px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <span class="text-small">
                        <p class="item-p"><span class="item-label">account: </span><span class="item-value"> {{ data.accountID }}</span></p>
                        <p class="item-p"><span class="item-label">balance: </span><span class="item-value"> {{data.balance | cscAmount : true : true}}</span></p>
                    </span>
                </ng-template>
            </p-column>
            <p-column field="label" header="Label" [style]="{'width':'160px'}" editable="true" class="item-value"></p-column>
            <!--
            <p-column field="balance" header="Balance" [style]="{'width':'90px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <span>{{data.balance | cscAmount}}</span>
                </ng-template>
            </p-column>
            -->
            <!--
            <p-column field="meta.created" header="Created" [style]="{'width':'80px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <span>{{data.meta.created | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                </ng-template>
            </p-column>
        -->
            <p-column field="activated" header="Activated" [style]="{'width':'50px','text-align':'center'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <i [ngClass]="getActivatedIconClasses(data.activated)"></i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<p-dialog [(visible)]="showCreateAccountDialog" [width]="450" [height]="300" [closable]="true" 
    [modal]="true" appendTo="body">
    <p-header>Create new account</p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <p>Enter a label for the new account and your wallet password.</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="fa fa-address-book"></i></span>
                <input type="text" pInputText placeholder="Account Label" [(ngModel)]="accountLabel">         
            </div>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="fa fa-key"></i></span>
                <input type="password" pInputText placeholder="Wallet Password" [(ngModel)]="walletPassword" (keyup.enter)="doCreateNewAccount()">         
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div style="text-align: right;">
        <button pButton type="button" (click)="doCreateNewAccount()" icon="fa-save" iconPos="right" label="Create" 
                style="width: 115px;"></button>
    </div>
    <p-footer *ngIf="showDialogFooter" style="height: 30px;">
        <p>{{errorMessage}}</p>
    </p-footer>
</p-dialog>