<div class="ui-g form-container">
    <p class="form-text-header">Transactions</p>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="fa fa-credit-card"></i></span>
            <p-dropdown [style]="{'width':'100%'}" [options]="accounts" [(ngModel)]="selectedAccount" 
                        placeholder="Select Account to filter ..." (onChange)="accountSelected($event)" 
                        autofocus #accountDropdown></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
        <p-contextMenu #cm class="hide-context-menu"></p-contextMenu>
        <p-dataTable [value]="transactions" scrollable="true" [immutable]="false" scrollHeight="50vh" [contextMenu]="cm"
            responsive="true" styleClass="borderless" (onContextMenuSelect)="showTxContextMenu($event)">
            <p-column [style]="{'width':'20px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <i [ngClass]="getDirectionIconClasses(data)"></i>
                </ng-template>
            </p-column>
            <p-column field="timestamp" [style]="{'width':'75px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <span class="text-large">{{data.timestamp | cscDate : 'dd'}}</span>
                    <span class="text-small-bottom">{{data.timestamp | cscDate : 'MMM' | uppercase}}</span>
                    <span class="text-large">{{data.timestamp | cscDate : 'HH'}}</span>
                    <span class="text-small-top" >{{data.timestamp | cscDate : ':mm:ss'}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'175px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <span class="text-small">
                        <p class="item-p"><span class="item-label">from: </span><span class="item-value"> {{ data.accountID }}</span></p>
                        <p class="item-p"><span class="item-label">to: </span><span class="item-value"> {{ data.destination }}</span></p>
                        <p class="item-p"><span class="item-label">message: </span><span class="item-value"> {{ getDescription(data) }}</span></p>
                    </span>
                </ng-template>
            </p-column>
            <p-column field="validated" [style]="{'width':'50px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <p class="item-p"><span class="item-label">validated: </span><i [ngClass]="getValidatedIconClasses(data.validated)"></i></p>
                    <p class="item-p"><span class="item-label">ledger: </span><span class="item-value"> {{ data.inLedger }}</span></p>
                </ng-template>
            </p-column>
            <p-column field="amount" [style]="{'width':'75px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <span class="text-large" #amountColText>{{ getTXTextColor(amountColText,data) }}{{data.amount | cscAmount : false : true}}</span>
                </ng-template>
            </p-column>
            <ng-template pTemplate="emptymessage">
                <p>There are no transactions in the wallet.</p>
            </ng-template>
        </p-dataTable>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" (click)="doShowLedgers()" icon="fa-list" iconPos="left" label="Show Ledgers" class="ui-button-secondary"></button>
    </div>
</div>
<p-dialog class="dialog-header" [(visible)]="showLedgerDialog" [width]="500" [height]="425" 
    [closable]="true" [modal]="true" appendTo="body">
    <p-header>Ledger Information</p-header>
    <p-dataTable [value]="ledgers" [immutable]="false" scrollable="true" scrollHeight="325px">
        <p-column field="ledger_index" header="Ledger" [style]="{'width':'75px'}"></p-column>
        <p-column field="ledger_time" header="Time" [style]="{'width':'125px'}">
            <ng-template let-col let-ledger="rowData" pTemplate="body">
                <span>{{convertCscTimestamp(ledger[col.field]) | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
            </ng-template>
        </p-column>
        <p-column field="txn_count" header="TX" [style]="{'width':'30px'}"></p-column>
        <ng-template pTemplate="emptymessage">
            <p>No Ledgers download yet.</p>
        </ng-template>
    </p-dataTable>
</p-dialog>