@import "~assets/variables";

:host input {
    width: 450px; padding-left: 5px;
}

:host p-dropdown {
    width: 450px;
}

::ng-deep .ui-datatable-header {
    display: none;
}

::ng-deep .text-small-top {
    font-size: small;
    vertical-align: top; 
}

::ng-deep .text-small-bottom {
    font-size: small;
    vertical-align: bottom;
}

::ng-deep .text-large {
    font-size: large;
}

::ng-deep .item-p {
    margin: 5px;
}

::ng-deep .item-label {
    color: #717171;
    font-size: smaller;
}

::ng-deep .item-value {
    color: #000000;
    font-size: small;
}

/** Remove the header from the dataTable**/
::ng-deep .ui-datatable.borderless thead {
  display: none;
}

/** Remove the border from the dataTable **/
::ng-deep .ui-datatable.borderless .ui-datatable-data >tr >td { 
    border-style: hidden;
    border-radius: 3px;
}

/** Odd row color **/
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
    background-color: #ffffff;
}

/** Odd and Even Selected Row Color ***/
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd.ui-state-highlight {
    background-color: $casinocoinGray;
    color: #000000;
}
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-even.ui-state-highlight {
    background-color: $casinocoinGray;
    color: #000000;
}

::ng-deep .color_red {
    color: $casinocoinRed;
}

::ng-deep .color_green {
    color: $casinocoinGreen;
}

::ng-deep .color_orange {
    color: $casinocoinOrange;
}

::ng-deep .color_blue {
    color: $casinocoinBlue;
}

::ng-deep .hide-context-menu {
    display: none;
}

::ng-deep .ui-datatable-scrollable-body {
    overflow-anchor: none;
}