@import "~assets/variables";

$base-height: 60px;

.container { 
	display:table; 
	width:100%; 
	height:100%;  
}

::ng-deep .home-sidenav {
	display:table-row;
}

::ng-deep .home-sidenav-container {
	height: 100%;
}

::ng-deep p-toolbar .ui-widget-header {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 0.90em;
  height: $statusBarHeight;
  background: $casinocoinGray;
}

::ng-deep p-toolbar .ui-toolbar-group-left {
  width: 55%;
}

::ng-deep p-toolbar .ui-toolbar-group-right {
  width: 42%;
}

::ng-deep #main_menu .ui-menu {
  background: #000000;
  color: #FFFFFF;
}

::ng-deep #main_menu .ui-menu .ui-menu-list .ui-menuitem {
    padding-top: 25px;
    padding-bottom: 25px;
}

.mat-list-item {
  color: #FFFFFF;
}

.sidenav-height {
  height: 100%;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px $casinocoinRedLighter;
}

.btn {
  padding: 2px;
}

.active_text_color {
  color: #FFFFFF;
  font-size: smaller;
}

.inactive_text_color {
  color: #661114;
  font-size: smaller;
}

::ng-deep p-dialog .ui-widget-header {
  color: #000000;
}

:host input {
  width: 100%; padding-left: 5px;
}

.connected-color {
  color: $casinocoinGreen;
}

.disconnected-color {
  color: $casinocoinRed;
}

.amount-color {
  color: #fff;
  font-weight: 700;
}

.amount-text-color {
  color: #dba4a5 !important; 
}

.app-nav {
  width: 230px;
  height: 100%;
  background: #a51b1f;
  background-image: url('../../../assets/navbar-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.csc-logo {
  width: 220px;
  padding: 20px;
}

.menu-item {
  height: 65px;
  user-select: none;
}

.menu-icon {
  width: 30px;
  vertical-align: middle;
}

.menu-text {
  padding-top: 20px;
}

.menu-nav mat-list-item:hover {
  background-color: #7c1417;
  background-repeat: no-repeat;
  background-position: right;
  position: sticky;
  z-index: 1000;
}

.active_menu_item {
  background-color: #7c1417;
  background-image: url('../../../assets/menu-rectangle.png');
  background-repeat: no-repeat;
  background-position: right;
  position: sticky;
  z-index: 1000;
}

.mat-list .mat-list-item {
  height: 65px !important;
}

.mat-list .mat-list-item.import-key {
  height: 30px !important;
}

::ng-deep .mat-list-item-content {
  display: block !important;
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.footer-icon {
  width: 15px;    
}

::ng-deep .bold-value {
  font-weight: bolder;
}

#wallet-version {
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: #FFFFFF;
  font-size: smaller;
  width: 100%;
  user-select: none;
}

::ng-deep .footer-error {
  color: #901119;
  font-weight: bolder;
}

::ng-deep .mat-list-address-item {
  color: #901119 !important;
  font-size: smaller;
}

::ng-deep .mat-list-address {
  flex-grow: 1;
  border: 1px solid #901119;
  overflow: auto;
  height: 90px;
}