<div class="container">
    <div class="home-sidenav">
        <mat-sidenav-container class="home-sidenav-container">
            <mat-sidenav mode="side" opened="true">
                <div class="app-nav">
                    <img src="../../../assets/casinocoin-logo.png" alt="CasinoCoin" class="csc-logo" />
                    <mat-list>
                        <mat-list-item class="menu-item">
                            <div class="ui-g">
                                
                                <div class="ui-g-12 menu-text">
                                    <span class="amount-text-color">Balance:</span><span class="amount-color"> {{balance | cscAmount : false : true}}</span>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <div class="menu-nav">
                        <mat-list style="padding-top: 30px;">
                            <mat-list-item (click)="onTransactions()" class="menu-item" 
                                            [ngClass]="{active_menu_item: active_menu_item === 'transactions'}">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <img src="../../../assets/icons/transactions.png" class="menu-icon"/>
                                    </div>
                                    <div class="ui-g-9 menu-text">
                                        <span class="amount-text-color">Transactions:</span><span class="amount-color"> {{transaction_count}}</span>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onSendCoins()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'send'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <img src="../../../assets/icons/send.png" class="menu-icon"/>
                                    </div>
                                    <div class="ui-g-9 menu-text">Send coins</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onReceiveCoins()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'receive'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <img src="../../../assets/icons/receive.png" class="menu-icon" />
                                    </div>
                                    <div class="ui-g-9 menu-text">Receive coins</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onAddressbook()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'addressbook'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3" style="padding-top: 20px;">
                                        <img src="../../../assets/icons/address.png" class="menu-icon" />
                                    </div>
                                    <div class="ui-g-9 menu-text">Address book</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <mat-list style="padding-top: 30px;">
                            <mat-list-item (click)="onCoinSwap()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'coinswap'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <img src="../../../assets/icons/swap.png" class="menu-icon" />
                                    </div>
                                    <div class="ui-g-9 menu-text">Coin Swap</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onSupport()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'support'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <img src="../../../assets/icons/support.png" class="menu-icon" />
                                    </div>
                                    <div class="ui-g-9">Support</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div id="wallet-version">
                    Wallet Version: {{applicationVersion}}<br>
                    DB Version: {{dbMetadata?.dbVersion}}<br>
                    Network: {{dbMetadata?.environment}}
                </div>
            </mat-sidenav>
            <!-- primary content -->
            <p-growl [(value)]="msgs"></p-growl>
            <router-outlet></router-outlet>
            <p-toolbar class="toolbar-height">
                <div class="ui-toolbar-group-left">
                    <div class="ui-g">
                        <div class="ui-g-6">
                            <img src="../../../assets/icons/balance.png" class="footer-icon">
                            Balance: {{balance | cscAmount : false : true}}
                        </div>
                        <div class="ui-g-6">
                            <img src="../../../assets/icons/fiat.png" class="footer-icon">
                            Fiat Value: {{fiat_balance}}
                        </div>
                    </div>
                </div>
                <div class="ui-toolbar-group-right">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <div (click)="onSettingsMenuClick($event)">
                                <img src="../../../assets/icons/settings.png" alt="Settings" class="footer-icon">
                                Settings
                            </div>
                        </div>
                        <div class="ui-g-3">
                            <div (click)="onToolsMenuClick($event)">
                                <img src="../../../assets/icons/tools.png" alt="Tools" class="footer-icon">
                                Tools
                            </div>
                        </div>
                        <div class="ui-g-5" style="text-align: right">
                            <div (click)="onConnectionClick($event)" [matTooltip]="connected_tooltip">
                                <img [src]="connectionImage" alt="Connection" class="footer-icon" />
                                <span [ngClass]="connectionColorClass">{{connected_tooltip}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </p-toolbar>
        </mat-sidenav-container>
    </div>
</div>
<p-dialog class="dialog-header" [(visible)]="showPrivateKeyImportDialog" [width]="450" [height]="300" [closable]="true" 
        [modal]="true" appendTo="body">
    <p-header>Import private key</p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <p>Enter the Seed for the Private Key you wish to import and the password for your wallet.</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <input type="text" pInputText placeholder="Private Key Seed" [(ngModel)]="privateKeySeed" style="width: 100%; padding-left: 5px;">
            </div>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <input type="password" pInputText placeholder="Wallet Password" [(ngModel)]="walletPassword" 
                        (keyup.enter)="onImportPrivateKey()" style="width: 100%; padding-left: 5px;">
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div style="text-align: right;">
        <button pButton type="button" (click)="onImportPrivateKey()" icon="fa-arrow-right" iconPos="right" label="Import" 
                style="width: 115px;"></button>
    </div>
</p-dialog>
<p-dialog class="dialog-header" [(visible)]="showSettingsDialog" [width]="480" [height]="320" [closable]="true" 
        [modal]="true" appendTo="body">
    <p-header>Settings</p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-g">
                <div class="ui-g-6">Wallet Language</div><div class="ui-g-6 bold-value">English</div>
                <div class="ui-g-6">Fiat value currency</div><div class="ui-g-6 bold-value">USD</div>
                <div class="ui-g-6">Show desktop notifications</div><div class="ui-g-6 bold-value">Yes</div>
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div style="text-align: right;">
        <button pButton type="button" (click)="onSettingsSave()" icon="fa-save" iconPos="right" label="Save" 
                style="width: 115px;"></button>
    </div>
</p-dialog>
<p-dialog class="dialog-header" [(visible)]="showServerInfoDialog" [width]="640" [height]="500" [closable]="true" 
        [modal]="true" appendTo="body">
    <p-header>Server Information</p-header>
    <div class="ui-g">
        <div class="ui-g-6">Server</div><div class="ui-g-6 bold-value">{{currentServer?.server_id}}</div>
        <div class="ui-g-6">Server Version</div><div class="ui-g-6 bold-value">{{serverState?.build_version}}</div>
        <div class="ui-g-6">Environment</div><div class="ui-g-6 bold-value">{{dbMetadata?.environment}}</div>
        <div class="ui-g-6">Response Time (msec)</div><div class="ui-g-6 bold-value">{{currentServer?.response_time}}</div>
        <div class="ui-g-6">Available Ledgers</div><div class="ui-g-6 bold-value">{{serverState?.complete_ledgers}}</div>
        <div class="ui-g-6">Server Status</div><div class="ui-g-6 bold-value">{{serverState?.server_state}}</div>
        <div class="ui-g-6">Connected Peers</div><div class="ui-g-6 bold-value">{{serverState?.peers}}</div>
        <div class="ui-g-6">Last Ledger Sequence</div><div class="ui-g-6 bold-value">{{serverState?.validated_ledger?.seq}}</div>
        <div class="ui-g-6">Last Closing Time</div><div class="ui-g-6 bold-value">{{serverState?.validated_ledger?.close_time | cscDate: 'HH:mm:ss'}}</div>
        <div class="ui-g-6">Close Duration (msec)</div><div class="ui-g-6 bold-value">{{serverState?.last_close?.converge_time}}</div>
        <div class="ui-g-6">Last Close Proposers</div><div class="ui-g-6 bold-value">{{serverState?.last_close?.proposers}}</div>
        <div class="ui-g-6">Current Fee</div><div class="ui-g-6 bold-value">{{serverState?.validated_ledger?.base_fee | cscAmount}}</div>
        <div class="ui-g-6">Current Account Reserve</div><div class="ui-g-6 bold-value">{{serverState?.validated_ledger?.reserve_base | cscAmount}}</div>
    </div>
</p-dialog>

<p-dialog [(visible)]="showPasswordDialog" [width]="450" [height]="250" [closable]="true" [modal]="true" appendTo="body">
<p-header>
    CasinoCoin Wallet Password
</p-header>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
        <p>Please enter the password for the wallet.</p>
    </div>
    <div class="ui-g-1"></div>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="fa fa-key"></i></span>
            <input type="password" pInputText placeholder="Wallet Password" style="width: 100%; padding-left: 5px;"
                   [(ngModel)]="walletPassword" (keyup.enter)="executePasswordCallback()" #passwordInput>         
        </div>
    </div>
    <div class="ui-g-1"></div>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-5">
    </div>
    <div class="ui-g-5">
        <span>
            <button pButton type="button" (click)="executePasswordCallback()" icon="fa-check" iconPos="right" 
                    label="Ok" style="width: 150px;"></button>
        </span>
    </div>
    <div class="ui-g-1"></div>
</div>
<p-footer *ngIf="footer_visible">
    Error: {{error_message}}
</p-footer>
</p-dialog>
