<div>
    <p-toolbar class="toolbar-height">
        <div class="ui-toolbar-group-left">              
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn toolbar-button active" (click)="onOverview()">
                  <img class="toolbar-image" [src]="overview_image"/>
                  <div [class]="overview_text_class">Overview</div>
                </button>
                <button type="button" class="btn toolbar-button" (click)="onSendCoins()" >
                  <img class="toolbar-image" [src]="send_image"/>
                  <div [class]="send_text_class">Send</div>
                </button>
                <button type="button" class="btn toolbar-button" (click)="onReceiveCoins()" >
                  <img class="toolbar-image" [src]="receive_image"/>
                  <div [class]="receive_text_class">Receive</div>
                </button>
                <button type="button" class="btn toolbar-button" (click)="onAddressbook()" >
                  <img class="toolbar-image" [src]="addressbook_image"/>
                  <div [class]="addressbook_text_class">Addressbook</div>
                </button>
                <button type="button" class="btn toolbar-button" (click)="onCoinSwap()" >
                    <img class="toolbar-image" [src]="swap_image"/>
                    <div [class]="swap_text_class">Swap</div>
                  </button>
              </div>
            <!--
            <div class="ui-g">
                <div class="ui-g-12">
                    <div (click)="sidenav.toggle()" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                </div>
            </div>
          -->
        </div>
        <div class="ui-toolbar-group-right">
            <p-menu #contextmenu popup="true" [model]="context_menu_items" appendTo="body"></p-menu>
            <div (click)="contextmenu.toggle($event)" style="text-align: center; padding-top: 15px; padding-right: 15px;">
                <i class="fa fa-cog fa-2x"></i>
            </div>
        </div>
    </p-toolbar>
</div>
<div class="content-height">
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <!--
    <mat-sidenav-container class="sidenav-height">
        <mat-sidenav #sidenav class="csc-sidenav" mode="side" opened="true">
            <mat-list *ngFor="let item of menu_items">
                <mat-list-item (click)="selectedMenuItem(item)">
                    <p matLine style="text-align: center;"><i [class]="item.icon"></i></p>
                    <h2 matLine style="text-align: center;">{{item.label}}</h2>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        
    </mat-sidenav-container>
  -->
</div>
<p-dialog [visible]="false" [width]="600" [height]="400" [closable]="true" [modal]="true">
    <p-header>
        Import Private Key
    </p-header>
    <div class="ui-g" style="max-height: 275px; min-height: 275px;">
        import your private key
    </div>
    <div style="text-align: right;">
        <button pButton type="button" (click)="navigateToPreviousStep()" icon="fa-arrow-left" iconPos="left" label="Previous" 
                *ngIf="activeIndex > 1 && activeIndex < 4" style="width: 115px;"></button>
    </div>
</p-dialog>