<div class="ui-g form-container">
  <p class="form-text-header">Change Wallet Password</p>
  <div *ngIf="showCurrentPassword" class="ui-g-12">
      <h3 style="text-align: center;">Current Password</h3>
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-key"></i></span>
          <input type="password" pInputText placeholder="Current Wallet Password" [(ngModel)]="currentWalletPassword" (keyup.enter)="doNext()"
                #currentPassword>         
      </div>
  </div>

  <div *ngIf="showNewPassword" class="ui-g-12">
    <h3 style="text-align: center;">Set Password</h3>
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-key"></i></span>              
        <input type="password" pPassword [(ngModel)]="newWalletPassword" (ngModelChange)="checkPasswordUpdate($event)" 
                   title="Password must be minmal 8 characters long including letter and numeric characters" 
                   required [(pattern)]="passwordPattern" placeholder="Wallet Password" #passwordInput/>
    </div>
  </div>
  <div *ngIf="showNewPassword" class="ui-g-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon" style="box-sizing: content-box; width: 50px;"><i class="icon icon-key"></i></span>
          <input type="password" pPassword [(ngModel)]="newWalletPasswordConfirmed" (ngModelChange)="checkPasswordConfirmedUpdate($event)" 
                required [(pattern)]="passwordPattern" placeholder="Password Confirmation"
                [disabled]="!paswordConfirmationEnabled" #passwordInputConfirmed/>     
      </div>
  </div>

  <div *ngIf="showPassphrase" class="ui-g-12">
    <h3 style="text-align: center;">Password Recovery Passphrase</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            In case you lose your wallet password, it can be recovered using the Recovery Passphrase. Please write down 
            the shown words in the exact order as they appear on a piece of paper or otherwise and keep it safe. <br/>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-g ui-fluid">
                <div class="ui-g-3" *ngFor="let word of newWalletMnemonic; let i = index">{{i+1}}. {{word}}</div>
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <small style="font-weight: bolder;">
            <p-checkbox (onChange)="onRecoveryAcceptChanged($event)" 
                        label="I have saved the password recovery passphrase or understand the consequences of not doing so."></p-checkbox>
            </small>
        </div>
        <div class="ui-g-1"></div>
    </div>
  </div>

  <div class="ui-g-6">
      <button pButton *ngIf="activeIndex <= 2" type="button" (click)="doNext()" icon="fa-arrow-right" iconPos="right" label="Next" [disabled]="nextButtonEnabled"></button>
  </div>

  <div class="ui-g-6">
        <button pButton *ngIf="activeIndex >= 3" type="button" (click)="doNext()" icon="fa-check" iconPos="right" label="Finish" [disabled]="nextButtonEnabled"></button>
  </div>

  <div *ngIf="showError" style="padding-top: 15%;">
      <h4 style="color: #bf0a0a;"> {{errorMessage}} </h4>
  </div>
</div>