$fontFamily:  "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
$fontSize: 0.96em;
$borderRadius: 2px;
$disabledOpacity: 0.35;

$casinocoinRed: #901119;
$casinocoinRedLighter: lighten($casinocoinRed, 10%);
$casinocoinRedDarker: darken($casinocoinRed, 20%);